*{
  font-family: poppins;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.btn1 a{
  text-decoration: none;
  color: white;
}

.btn2 a{
  text-decoration: none;
  color: lightseagreen;
}

body {
    font-size: 15pt;
    background-color: lightgrey;
}

.topdiv{
  text-align: center;
  background-color: #651BD2;
  height: 40px;
}

.image{
padding-top: 10px;
padding-bottom: -20px;
text-align: center;
}

.topimg{
  width: 95.2vw;
  height: 30vh;
  
}

#651BD2

p{
  color: #ddd;
}

.btn1{
  text-align: center;
  border-color: lightcyan;
  border-radius: 10px;
  height: 25px;
  width: 160px;
  background-color: transparent;
  margin-top: 7px;
}

.bodytext{
  padding-top: 0px;
  font-size: 11pt;
  padding-bottom: 0px;

}

.bottomdiv{
  text-align: center;
  height: 40px;
}

.btn2{
  text-align: center;
  border-color: lightseagreen;
  border-radius: 10px;
  height:25px;
  width: 125px;
  background: transparent;
}

.btn2:hover{
  text-align: center;
  border-color: cyan;
  border-radius: 10px;
  height: 25px;
  width: 125px;
  background: lightseagreen;
  margin-top: 7px;
}

.btn2:active{
  text-align: center;
  border-color: cyan;
  border-radius: 10px;
  height: 25px;
  width: 125px;
  background: lightseagreen;
}
